//body {
//  font-family: -apple-system, BlinkMacSystemFont,
//  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//  'Open Sans', 'Helvetica Neue', sans-serif;
//}

@import "vars";
@import "~bootstrap/scss/bootstrap";

hr {
  margin: 0;
}

br {
  display: block;
  margin: 0;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

